* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Potta One", cursive;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Potta+One&display=swap);
}

body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/655/865/313/dragon-ball-dragon-ball-z-dragon-ball-super-dragon-ball-xenoverse-2-hd-wallpaper-preview.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Potta One", cursive;
  font-size: 15px;
  color: cyan;
}

header {
  width: 100%;
  height: 15%;
  display: fixed;
  background-color: rgba(0, 0, 0, 0.432);
}

nav {
  display: flex;
  align-items: center;
  height: 10%;
}

h1{
  margin-bottom: 20px
}

/* Clases */

.listaNav {
  list-style: none;
  display: flex;
  border-radius: 10px;
  background-color: black;
}

.listaNav li a{
  margin: 0px 30px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600px;
  text-decoration: none;
}
.listaNav li a:hover{
  color: blue
}

.search {
margin-right: 550px;
display: flex;
}

.search input {
  margin-right: 20px;
  width: 250px;
  height: 30px;
  font-size: 20px;
  font-family: "Potta One", cursive;
}

.portadaSection {
  display: flex;
  margin: 40px auto;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}

.portada {
  display: flex;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.411);
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  ;
}

.portadaDiv {
  padding: 15px;
}

.portada h1{
  font-size: 50px;
}


.buttonPortada{
height: 80px;
width: 200px;
border-radius: 50px;
background-color: rgba(0, 0, 0, 0.486);
color: cyan;
font-family: 'Oswald', sans-serif;
font-size: 20px;
}

.buttonPortada:hover{
background-color: black;
cursor: pointer;
}

.info {
  display: flex;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.411);
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  align-items: center;
  width: 65%;
  height: 400px;
  padding: 25px;
  border-radius: 10px;
  color: cyan;
}

/* IDS */

#logoIndex {
  width: 150px;
  margin-right: 50px;
  }

  #buttonNav {
    font-size: 18px;
    font-family: "Potta One", cursive;
    width: 100px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 10px;
  }

  #buttonNav:hover{
    background-color: rgba(0, 0, 255, 0.096);
    color: white;
  }
#imgPortada {
width: 500px;
}

#parrafoPortada {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: justify;
  margin-top: 20px;
  
}


#buttonPortada{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
